<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--The crawling level affect the time of response as it indicates the levels to crawl. The deeper the slower-->
    <add key="CrawlingLevel" value="2"/>
    <!--It might not be a good practice to leave the working files in the Release folder, at the moment is juts a practical workaround-->
    <add key="BookmarkFile" value="Formats\Bookmarks.html"/>
    <add key="mnPlanetFormat" value="Formats\mnXMLPlanets.xml"/>
  </appSettings>
</configuration>